body {
  background-image: url("background.jpg");
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 2px 12px 12px rgba(0, 0, 0, 0.2);
  padding: 0 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

nav ul li a:hover {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  font-size: 16px;
  font-weight: 7e300;
}

.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #384d9d;
  margin-left: 65px;
}

a {
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: auto;
  margin: 0px;
  position: absolute;
  float: left;
}
.signup {
  background-color: #2c3a47;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #2c3a47;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 4px;
}

.signup:hover {
  background-color: #384d9d;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #384d9d;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 4px;
  transform: translate(0, 1px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.login:hover {
  background-color: #2c3a47;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #2c3a47;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 4px;
  transform: translate(0, 1.5px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #384d9d;
  outline: none;
  background: transparent;
  text-align: center;
  font-family: "Segoe Ui";
}

.submit-btn {
  width: 100%;
  padding: 10px 36px;
  margin-top: 300px;
  font-family: "Segoe Ui";
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, purple, blue);
  border: 0;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 800;
}
.submit-btn:hover {
  width: 100%;
  padding: 10px 36px;
  margin-top: 300px;
  font-family: "Segoe Ui";
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, purple, blue);
  border: 0;
  outline: none;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.login-block {
  width: 60%;
  height: 70vh;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 4px 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 5% auto 20px auto;
}
.login-block .input-group {
  padding: 10px;
  font-family: "Segoe Ui";
  position: relative;
  align-items: center;
  margin-left: 7%;
}
.login-text {
  font-size: 40px;
  color: #384d9d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin-left: 35%;
}
.forgot-password {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  font-weight: 700;
  padding: 4px;
}
.not_a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #232323;
  font-weight: 600;
  padding: 3px;
  margin-top: 5px;
}

.text_below_button {
  margin-top: 5%;
  margin-left: 13%;
}
.login_img {
  width: 280px;
  height: 280px;
  position: relative;
  float: right;
}
.form_items {
  float: left;
  position: relative;
  display: inline;
}
